<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <modules>
    <module assemblyFile="Tools.exe" moduleType="Tools.Modules.ContentPanelModule, Tools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContentPanelModule" startupLoaded="true" />
  </modules>
  <appSettings>
    <add key="ApplicationName" value="Tools" />
    <add key="Language" value="zh-Hans" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="f08b075e934b7045" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.4" newVersion="2.2.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>